@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

.ChatHeader {
    font-family: 'Shadows Into Light', cursive;
    margin-top: 10%;
    margin-left: 50px;
    font-size: 50px;
    color: #fff;
    cursor: default;
}

body {
    background-color: #abd9e9;
    font-family: Arial;
}

#container {
    width: 92%;
    height: 550px;
    margin-left: 50px;
    background: #eff3f7;
    font-size: 0;
    bottom: 10%;
    border-radius: 5px;
    overflow: hidden;
}

.SendMsgBtn {
    border: none;
    background: none;
    width: 100%;
    background-color: forestgreen;
    color: white;
    padding: 5px;
    font-size: 18px;
    cursor: pointer;
    margin: 12px 0;
}

aside {
    width: 20%;
    height: 550px;
    background-color: #3b3e49;
    display: inline-block;
    font-size: 15px;
    vertical-align: top;
}

main {
    width: 80%;
    height: 550px;
    display: inline-block;
    font-size: 15px;
    vertical-align: top;
}

aside header {
    padding: 30px 20px;
}


aside ul {
    padding-left: 0;
    margin: 0;
    list-style-type: none;
    overflow-y: scroll;
    height: 100%;
}

aside li {
    padding: 10px 0;
}

  
h2, h3 {
    margin: 0;
}

aside li img {
    border-radius: 50%;
    margin-left: 20px;
    margin-right: 8px;
}

.OrderHistory_RowSeparator {
    padding-top: 50px;
    padding-bottom: 50px;
}

aside li div {
    display: inline-block;
    vertical-align: top;
    margin-top: 12px;
}

aside li h2 {
    font-size: 14px;
    color: #fff;
    font-weight: normal;
    margin-bottom: 5px;
}

aside li h3 {
    font-size: 12px;
    color: #7e818a;
    font-weight: normal;
}

main header {
    height: 20%;
    padding: 30px 20px 30px 40px;
}

    main header > * {
        display: inline-block;
        vertical-align: top;
    }

    main header img:first-child {
        border-radius: 50%;
    }

    main header img:last-child {
        width: 24px;
        margin-top: 8px;
    }

    main header div {
        margin-left: 10px;
        margin-right: 145px;
    }

    main header h2 {
        font-size: 16px;
        margin-bottom: 5px;
    }

    main header h3 {
        font-size: 14px;
        font-weight: normal;
        color: #7e818a;
    }

#chat {
    padding-left: 0;
    margin: 0;
    list-style-type: none;
    overflow-y: scroll;
    height: 50%;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    width:100%;
}

    #chat li {
        padding: 10px 30px;
    }

    #chat h2, #chat h3 {
        display: inline-block;
        font-size: 13px;
        font-weight: normal;
    }

    #chat h3 {
        color: #bbb;
    }

    #chat .entete {
        margin-bottom: 5px;

    }

    #chat .message {
        padding: 20px;
        color: #fff;
        line-height: 25px;
        max-width: 90%;
        display: inline-block;
        text-align: left;
        border-radius: 5px;
    }

    #chat .me {
        text-align: right;
    }

    #chat .you .message {
        background-color: #58b666;

    }

    #chat .me .message {
        background-color: #6fbced;
    }

   
main footer {
    height: 155px;
    padding: 20px 30px 10px 20px;
}

    main footer textarea {
        resize: none;
        border: none;
        display: block;
        width: 100%;
        height: 80px;
        border-radius: 3px;
        padding: 20px;
        font-size: 13px;
        margin-bottom: 13px;
    }
